body{
    direction: rtl;
    font-family: 'Arial (Hebrew)', Arial; 
    padding-bottom: 38px;
    background: #fff url("./../assets/header_bg.png") repeat-x center top;
    display: flex; 
}

#container{
    width: 900px;
    margin: 0 auto;
    padding-bottom: 30px;
}

/* header */

#nav{
    position: relative;
    min-height: 105px;
    min-width: 100%;
    z-index: 100;
}

#nav a.logo{
    display: block;
    width: 142px;
    height: 93px;
    position: absolute;
    bottom: -20px;
    right: -8px;
    background: url("./../assets/paz_logo.png") no-repeat 0 0;
}

#nav #searchBox{
    position: absolute;
    top: 20px;
    left: 10px;
    width: 152px;
}

#nav #searchBox .input{
    float: right;
    width: 132px;
    height: 19px;
    background: url("./../assets/search_input.png") no-repeat 0 0;
}

#nav #searchBox .input input[type="text"]{
    position: relative;
    top: 2px;
    right: 4px;
    width: 126px;
    background: transparent;
    border: 0 none;
}

#nav #searchBox a{
    display: inline-block;
    float: left;
    width: 19px;
    height: 19px;
    background: url("./../assets/search_button.png");
}

#nav #searchBox a:hover {
     text-decoration: none; 
}

#nav #langmenu {
     position: absolute; top: 20px; left: 180px; 
    }
#nav #langmenu li{
    list-style: none;
}
#nav #langmenu a{ 
    font-size: 12px;
    font-weight: bold;
    color: white;
}

#nav #mainMenu { 
    height: 33px; 
    position: relative; 
    top: 72px; 
    margin: 0 143px 0 0; 
}

.fc{
    display: block;
}

*{
    padding: 0;
    margin: 0;
}

ol ul li{
    list-style: none;
}

#nav #mainMenu li { 
    height: 100%; 
    float: right; 
    position: relative; 
    display: block; 
}
#nav #mainMenu li.sep { 
    width: 4px; 
    height: 21px; 
    background: url("./../assets/menu_sep.png") no-repeat 0 0px; 
    margin: 0 16px; 
}
#nav #mainMenu li a.home { 
    width: 17px; 
    background: url("./../assets/menu_home_blue.png") no-repeat 0 top; 
}
#nav #mainMenu li a { 
    display: inline-block; 
    color: #fff; 
    font-size: 15px; 
    font-weight: bold; 
    height: 100%; 
}
#nav #mainMenu li a:hover, #nav #mainMenu li a.selectednode { 
    color: #005ca0; 
}
#nav #mainMenu li ul { 
    position:absolute; 
    z-index: 200; 
    top: 25px; 
    right: 0; 
    display: none; 
    background: #909090; 
    background: url("./../assets/menu_dropdown_bg.png");
}
#nav #mainMenu li:hover ul { 
    display: block; 
}
#nav #mainMenu li ul li {
    float: none; 
    padding: 0 5px;
}
*+html #nav #mainMenu li ul li { 
    width: 220px; 
    overflow: hidden; 
}
#nav #mainMenu li ul li:hover { 
    background-color: #bcbcbc; 
    display: block;
}
#nav #mainMenu li ul li a { 
    display: block;
    width: 100%; 
    height: 100%;
    padding: 5px 0;
    white-space: nowrap;
} 
#nav #mainMenu li ul li a:hover { 
    color: #005ca0; 
    width: 100%;
}
#nav #mainMenu li ul li a span { 
    display: block; 
    width: 100%;
}
#nav #mainMenu li ul li.sep { 
    width: 100%; 
    *display: inline; 
    zoom: 1; 
    padding: 0px; 
    margin: 0px; 
    height: 1px; 
    background: url("./../assets/menu_dropdown_sep.png") repeat-x 0 0; 
}
*+html #nav #mainMenu li ul li.sep { 
    width: 220px; 
    height: 1px; 
    padding: 0; 
    margin: 0; 
    line-height: 1;
}
a {
    text-decoration: none;
    outline: none;
}
/* tabs */
.all-tabs{
    margin-top: 30px;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;   
}

.tab-container{
    height: 25em;
    width:50%;
    margin:10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab-item{
    width: 200px;
    margin: 10px;
    border: 1px transparent white;
    
}

.all-tabs .item {
    position: relative;
    min-width: 293px;
    min-height: 355px;
    z-index: 10;
    /* background: url("./../assets/1908364606615453350.JPG") repeat-x 0 0; */
    border-bottom-right-radius: 10%;
}

.all-tabs .item.margins { 
    margin: 0 10px; 
}
.all-tabs .item img.overlay { 
    position: absolute; 
    top: 0; 
    right: 0; 
}

.all-tabs .item div.text { 
    width: 228px; 
    height: 77px; 
    overflow: hidden; 
    padding: 10px; 
    position: absolute; 
    left: 38px; 
    bottom: 6px; 
    color: #fff; 
    background: url("./../assets/hp_tab_text_bg.png") no-repeat 0 0; 
}
.all-tabs .item div.text h3{
    font-size: 14px;
    font-weight: bold;
}
.all-tabs .item div.text p{
    font-size: 13px;
    position: relative;
    bottom: 3px;
    margin-top: 2px;
}

.all-tabs .item div.text a.readMore{
    float: left;
    position: relative;
    color: white;
    bottom: 12px;
}

a.readMore { 
    font-size: 13px; 
    text-decoration: underline; 
}
a.readMore.white { 
    background: url("./../assets/read_more_white.png") no-repeat left center; 
}
a.readMore:hover { 
    background: url("./../assets/read_more_blue.png") no-repeat left center; 
}
a.readMore span { 
    padding-left: 12px; 
}
*+html a.readMore span { 
    padding-right: 12px; 
}

/* 
.item-2{ 
    position: relative;
    min-width: 18em;
    min-height: 22em;
    z-index: 10;
    background: url("./../assets/Picture-046410251500.jpg") repeat-x 0 0;
    border-bottom-right-radius: 10%;
}
.item-3{
    position: relative;
    min-width: 18em;
    min-height: 22em;
    z-index: 10;
    background: url("./../assets/פזקר_-291_354410564000.jpg") repeat-x 0 0;
    border-bottom-right-radius: 10%;
} */



.cube-container{
    position: relative;
    bottom: 2em;
    width:50%;
    margin:10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cube-item{
    width: 200px;
    margin: 10px;
    position: relative;
    bottom: 42%;
    border: 1px solid silver;
    background-color: whitesmoke !important; 
}

.cube-1{
    position: relative;
    min-width: 240px;
    min-height: 216px;
    padding: 0 24px;
    background: url("./../assets/paz_250x110059890678.jpg") no-repeat center;
    border-top-right-radius: 10%;
}

.cube-1 > h3{
    font-size: 14px;
    padding-top: 10px;
    position: absolute;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 3px solid lightgray;
}

.cube-1 .details a {
    margin-top: 185px; 
    float:left;
    color: grey;
    font-size: 14px;
}
.cube-1 .details a:hover{
    text-decoration: underline;
    color: blue;
}
.cube-1 .details img{
    margin-top: 185px;
    position: absolute;
    left: 13px;
    bottom: 18px;
}

.cube-2{
    position: relative;
    min-width: 240px;
    height: 216px;
    padding: 0 24px;
    border-top-right-radius: 10%;
}

.cube-2 .bannerContent > h3{
    font-size: 14px;
    padding-top: 10px;
    position: absolute;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 3px solid lightgray;
}

.cube-2 .bannerContent img{
    position: relative;
    top: 50px;
    left: 5px;
}

.cube-2 .details a {
    margin-top: 70px; 
    float:left;
    color: grey;
    font-size: 14px;
}
.cube-2 .details a:hover{
    text-decoration: underline;
    color: blue;
}
.cube-2 .details img{
    margin-top: 185px;
    position: absolute;
    left: 13px;
    bottom: 18px;
}

.cube-3{
    position: relative;
    min-width: 240px;
    min-height: 216px;
    padding: 0 24px;
    border-top-right-radius: 10%;
}

.cube-3 > h3{
    font-size: 14px;
    padding-top: 10px;
    position: absolute;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 3px solid lightgray;
}

.cube-3 > img{
    position: relative;
    float: left;
    top:45px;
}

a.readMore.yellow { 
    background: url("./../assets/read_more_yellow.png") no-repeat left center; 
}
a.readMore:hover { 
    background: url("./../assets/read_more_blue.png") no-repeat left center; 
}


.text-cube{
    position: relative;
    display: block;
    top: 55px;
}

.cube-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;   
}

/* footer */

#footer { 
    width: 100%; 
    height: 38px; 
    position: fixed; 
    z-index: 999999; 
    bottom: 0px; 
    display: flex;
    background: url("./../assets/footer_bg.png") repeat-x 0 0; 
}
#footer .container { 
    width: 900px; 
    height: 100%; 
    margin: 0 auto;
}
#footer .menu { 
    font-size: 14px; 
    margin-top: 16px; 
}
#footer .menu ul { 
    color: #fff; 
    list-style: none; 
}
#footer .menu li { 
    float: right; 
}
#footer .menu li.sep { 
    margin: 0 5px; 
}
#footer .menu li a { 
    color: #fff; 
}
#footer .menu li a:hover { 
    color: #005CA0 
}
#footer .menu li a.fbLink { 
    display: block; 
    position: relative; 
    bottom: 2px; 
    width: 18px; 
    height: 18px; 
    background: url("./../assets/fb_icon.png") no-repeat 0 0; 
}
